div.navAbsolute {
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.btnLogin{
	background-color: #4F8A10;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.btnLogout{
	background-color: #D8000C;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
